.search-icon {
    margin: 8px;
    /* border-radius: 50px; */

}


.search {
    padding: 10px;
    /* margin: 10px; */
    width: 20%;
    margin-left: 10px;
    margin-top: 10px;
}

.header {
    border: 2px solid black;
    height: 100px;
}

.chat-header {
    /* font-size: 40px; */

}