.search-icon {
    margin: 8px;
    /* border-radius: 50px; */

}


.search {
    padding: 10px;
    margin: 10px;
    width: 20%;
    margin-left: 40px;
}

.header {
    /* border: 2px solid black; */
}